---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ffcb09ae397ba7c1633480aa3c1fdf14&exclude=minutely,%20alerts&lat=48.754899&lon=-122.478122&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.7549,"lon":-122.4781,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1646758528,"sunrise":1646750254,"sunset":1646791440,"temp":43.18,"feels_like":40.98,"pressure":1024,"humidity":93,"dew_point":41.29,"uvi":0.77,"clouds":100,"visibility":5297,"wind_speed":4,"wind_deg":26,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1646755200,"temp":42.94,"feels_like":41.52,"pressure":1024,"humidity":94,"dew_point":41.34,"uvi":0.32,"clouds":100,"visibility":3329,"wind_speed":3.15,"wind_deg":42,"wind_gust":6.02,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.73,"rain":{"1h":0.88}},{"dt":1646758800,"temp":43.18,"feels_like":39.47,"pressure":1024,"humidity":93,"dew_point":41.29,"uvi":0.77,"clouds":100,"visibility":5297,"wind_speed":6.13,"wind_deg":44,"wind_gust":8.19,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.73},{"dt":1646762400,"temp":42.91,"feels_like":39.58,"pressure":1024,"humidity":94,"dew_point":41.31,"uvi":1.34,"clouds":100,"visibility":10000,"wind_speed":5.46,"wind_deg":54,"wind_gust":7.54,"weath[...]
