---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=3fIiCRQh3bXMP3aNsPs9BhcnGZATD37M&location=Portland,%20OR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 08 Mar 2022 17:08:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Portland,
        OR"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039059","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=3fIiCRQh3bXMP3aNsPs9BhcnGZATD37M&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-207763947"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"421589463","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=3fIiCRQh3bXMP3aNsPs9BhcnGZATD37M&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-2&scalebar=true&zoom=12&rand=-1380825118"}]}]}'
  recorded_at: Tue, 08 Mar 2022 17:08:48 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ffcb09ae397ba7c1633480aa3c1fdf14&exclude=minutely,%20alerts&lat=45.516018&lon=-122.681425&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-28800,"current":{"dt":1646759329,"sunrise":1646750180,"sunset":1646791611,"temp":42.93,"feels_like":37.6,"pressure":1028,"humidity":91,"dew_point":40.48,"uvi":0.27,"clouds":100,"visibility":10000,"wind_speed":9.22,"wind_deg":200,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.1}},"hourly":[{"dt":1646758800,"temp":42.93,"feels_like":39.83,"pressure":1028,"humidity":91,"dew_point":40.48,"uvi":0.27,"clouds":100,"visibility":10000,"wind_speed":5.1,"wind_deg":192,"wind_gust":11.5,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.46,"rain":{"1h":0.34}},{"dt":1646762400,"temp":42.78,"feels_like":39.33,"pressure":1028,"humidity":89,"dew_point":39.78,"uvi":0.48,"clouds":99,"visibility":10000,"wind_speed":5.61,"wind_deg":202,"wind_gust":14.34,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.5},{"dt":1646766000,"temp":43.14,"feels_like":39.94,"pressure":1028,"humidity":88,"dew_point":39.83,"uvi":0.31,"clouds":100,"visibility":10000,"wind_speed":5.32,"wind_deg":208,"wind_gus[...]
